<app-navbar></app-navbar>
<div *ngIf="this.issuccess">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> your details saved successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="row">
  <div class="shadow p-3 mb-5 bg-white rounded col-md-11" style="margin: auto; margin-top: 2%">
    <div class="col-xs-1 center-block text-center" style="color: gray">
      <h2>Registration</h2>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="fname">First Name</label>
          <input type="text" formControlName="fname" class="form-control" id="fname" placeholder="First Name"
          [ngClass]="{ 'is-invalid': issubmit && form.fname.errors }"
          >
          <div *ngIf="issubmit && form.fname.errors" class="invalid-feedback">
            <div *ngIf="form.fname.errors.required">First name is required</div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="lname">Last Name</label>
          <input type="text" formControlName="lname" class="form-control" id="lname" placeholder="Last Name" [ngClass]="{ 'is-invalid': issubmit && form.lname.errors }">
          <div *ngIf="issubmit && form.lname.errors" class="invalid-feedback">
            <div *ngIf="form.lname.errors.required">Last name is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="mname">Fathers Name</label>
          <input type="text" formControlName="mname" class="form-control" id="mname" placeholder="Father Name">
        </div>
        <div class="form-group col-md-4">
          <label for="hname">Spouse Name</label>
          <input type="text" formControlName="hname" class="form-control" id="hname" placeholder="Spouse Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="gender">Gender</label>
          <select class="form-control" formControlName="gender" >
            <option value="" selected>---Select Gender---</option>
            <option value="Male" >Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>  
        </div>
        <div class="form-group col-md-4">
          <label for="age">Age</label>
          <input type="number" formControlName="age" class="form-control" id="age" placeholder="Age">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="caste">Caste</label>
          <input type="text" formControlName = "caste" class="form-control" id="caste" placeholder="Caste"> 
        </div>
        <div class="form-group col-md-4">
          <label for="occupation">Occupation</label>
          <input type="text" formControlName = "occupation" class="form-control" placeholder="Occupation">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="disctrict">District</label>
          <select class="form-control" formControlName = "district" [(ngModel)]="district" (ngModelChange)="getData()">
          <option value ='' selected>---Select District---</option>
          <option *ngFor="let title of districts" [value]="title">{{ title }}</option>
        </select>
        </div>
        <div class="form-group col-md-4">
          <label for="constituency">Constituency</label>
          <select class="form-control" formControlName = "constituency">
            <option value ='' selected>---Select Constituency---</option>
            <option *ngFor="let title of constituencies" [value]="title">{{ title }}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="village">Village</label>
          <input type="text" formControlName = "village" class="form-control" placeholder="Village">
        </div>
        
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="address">Address</label>
          <input type="text" formControlName="address" class="form-control" id="address"
            placeholder="Please Enter Address">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <!-- Default switch -->
          <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="pollitical" class="custom-control-input" id="pollitical">
            <label class="custom-control-label" for="pollitical">Pollitically active</label>
          </div>
        </div>
      </div>
      <div *ngIf="this.registrationForm.value.pollitical == true">

        <div class="form-row">
          <div class="form-group col-md-4">
              <label for="polliticalParty">Pollitical Party</label>
              <select class="form-control" formControlName="polliticalParty" >
                <option value="" selected>---Select Pollitical Party---</option>
                <option value="BJP">Bharatiya Janata Party (BJP)</option>
                <option value="SS">Shiv Sena</option>
                <option value="NCP">Nationalist Congress Party (NCP)</option>
                <option value="INC">Indian National Congress (INC)</option>
                <option value="SP">Samajwadi Party (SP)</option>
                <option value="MNS">Maharashtra Navnirman Sena (MNS)</option>
                <option value="PWP">Peasants and Workers Party of India</option>
                <option value="CPI">Communist Party of India (CPI)</option>
                <option value="MIM">All India Majlis-e-Ittehadul Muslimeen</option>
                <option value="CP">Communist Party of India (Marxist)</option>
                <option value="RPI">Republican Party of India</option>
                <option value="AAP">Aam Adami Party</option>
              </select>  
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="about">About Infromation</label>
            <textarea formControlName = "about" class="form-control" id="about"></textarea>
          </div>
        </div>

        <label>Previous Election Prefernces</label>

        <div class="form-group col-md-4">
          <label for="election1">Election 1</label>
          <select class="form-control" formControlName="election1" >
            <option value="" selected>---Select Pollitical Party---</option>
            <option value="BJP">Bharatiya Janata Party (BJP)</option>
            <option value="SS">Shiv Sena</option>
            <option value="NCP">Nationalist Congress Party (NCP)</option>
            <option value="INC">Indian National Congress (INC)</option>
            <option value="SP">Samajwadi Party (SP)</option>
            <option value="MNS">Maharashtra Navnirman Sena (MNS)</option>
            <option value="PWP">Peasants and Workers Party of India</option>
            <option value="CPI">Communist Party of India (CPI)</option>
            <option value="MIM">All India Majlis-e-Ittehadul Muslimeen</option>
            <option value="CP">Communist Party of India (Marxist)</option>
            <option value="RPI">Republican Party of India</option>
            <option value="AAP">Aam Adami Party</option>
          </select>  
        </div>
        <div class="form-group col-md-4">
          <label for="election2">Election 2</label>
          <select class="form-control" formControlName="election2" >
            <option value="" selected>---Select Pollitical Party---</option>
            <option value="BJP">Bharatiya Janata Party (BJP)</option>
            <option value="SS">Shiv Sena</option>
            <option value="NCP">Nationalist Congress Party (NCP)</option>
            <option value="INC">Indian National Congress (INC)</option>
            <option value="SP">Samajwadi Party (SP)</option>
            <option value="MNS">Maharashtra Navnirman Sena (MNS)</option>
            <option value="PWP">Peasants and Workers Party of India</option>
            <option value="CPI">Communist Party of India (CPI)</option>
            <option value="MIM">All India Majlis-e-Ittehadul Muslimeen</option>
            <option value="CP">Communist Party of India (Marxist)</option>
            <option value="RPI">Republican Party of India</option>
            <option value="AAP">Aam Adami Party</option>
          </select> 
        </div>
        <div class="form-group col-md-4">
          <label for="election3">Election 3</label>
          <select class="form-control" formControlName="election3" >
            <option value="" selected>---Select Pollitical Party---</option>
            <option value="BJP">Bharatiya Janata Party (BJP)</option>
            <option value="SS">Shiv Sena</option>
            <option value="NCP">Nationalist Congress Party (NCP)</option>
            <option value="INC">Indian National Congress (INC)</option>
            <option value="SP">Samajwadi Party (SP)</option>
            <option value="MNS">Maharashtra Navnirman Sena (MNS)</option>
            <option value="PWP">Peasants and Workers Party of India</option>
            <option value="CPI">Communist Party of India (CPI)</option>
            <option value="MIM">All India Majlis-e-Ittehadul Muslimeen</option>
            <option value="CP">Communist Party of India (Marxist)</option>
            <option value="RPI">Republican Party of India</option>
            <option value="AAP">Aam Adami Party</option>
          </select> 
        </div>
        <div class="form-group col-md-4">
          <label for="election4">Election 4</label>
          <select class="form-control" formControlName="election4" >
            <option value="" selected>---Select Pollitical Party---</option>
            <option value="BJP">Bharatiya Janata Party (BJP)</option>
            <option value="SS">Shiv Sena</option>
            <option value="NCP">Nationalist Congress Party (NCP)</option>
            <option value="INC">Indian National Congress (INC)</option>
            <option value="SP">Samajwadi Party (SP)</option>
            <option value="MNS">Maharashtra Navnirman Sena (MNS)</option>
            <option value="PWP">Peasants and Workers Party of India</option>
            <option value="CPI">Communist Party of India (CPI)</option>
            <option value="MIM">All India Majlis-e-Ittehadul Muslimeen</option>
            <option value="CP">Communist Party of India (Marxist)</option>
            <option value="RPI">Republican Party of India</option>
            <option value="AAP">Aam Adami Party</option>
          </select> 
        </div>
        <div class="form-group col-md-4">
          <label for="election5">Election 5</label>
          <select class="form-control" formControlName="election5" >
            <option value="" selected>---Select Pollitical Party---</option>
            <option value="BJP">Bharatiya Janata Party (BJP)</option>
            <option value="SS">Shiv Sena</option>
            <option value="NCP">Nationalist Congress Party (NCP)</option>
            <option value="INC">Indian National Congress (INC)</option>
            <option value="SP">Samajwadi Party (SP)</option>
            <option value="MNS">Maharashtra Navnirman Sena (MNS)</option>
            <option value="PWP">Peasants and Workers Party of India</option>
            <option value="CPI">Communist Party of India (CPI)</option>
            <option value="MIM">All India Majlis-e-Ittehadul Muslimeen</option>
            <option value="CP">Communist Party of India (Marxist)</option>
            <option value="RPI">Republican Party of India</option>
            <option value="AAP">Aam Adami Party</option>
          </select> 
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>