<div *ngIf="this.issubmit">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your details updated successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="col-xs-1 center-block text-center" style="color: gray">
  <h2>Add Relation with {{this.selfName}}</h2>
</div>

<div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="form-group col-md-6">
      <label for="relation1">{{this.relativeName +" is:"}}</label>
      <input formControlName="relation1" class="form-control" placeholder="Enter Relation" />
    </div>

    <div class="form-group col-md-6">
      <label for="relation2">{{this.selfName +" is:"}}</label>
      <input formControlName="relation2" class="form-control" placeholder="Enter Relation" />
    </div>

    <button *ngIf="!this.issubmit" type="submit" mat-raised-button color="primary"
      [disabled]="myform.relation.errors">Add to relatives</button>
  </form>
  <br>
  <button mat-raised-button color="warn" (click)="closeDailog()">Close</button>

</div>