<app-navbar></app-navbar>
<div
  class="shadow p-3 mb-5 bg-white rounded col-md-11"
  style="margin: auto; margin-top: 2%"
>
  <div class="col-xs-1 center-block text-center" style="color: gray">
    <h2>Search</h2>
  </div>
  <form [formGroup]="search" (ngSubmit)="onSubmit(search)">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="uuid">UUID</label>
        <input
          formControlName="uuid"
          class="form-control"
          placeholder="Enter UUID"
        />
      </div>

      <div class="form-group col-md-3">
        <label for="uuid">First Name</label>
        <input
          formControlName="fname"
          class="form-control"
          placeholder="Enter First Name"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="uuid">Middle Name</label>
        <input
          formControlName="mname"
          class="form-control"
          placeholder="Enter Middle Name"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="uuid">Last Name</label>
        <input
          formControlName="lname"
          class="form-control"
          placeholder="Enter Last Name"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="age">Age</label>
        <div class="row">
          <div class="col-sm-2">From</div>
          <div class="col-sm-4">
            <input formControlName="fromAge" class="form-control" type="number" />
          </div>
          <div class="col-sm-2">To</div>
          <div class="col-sm-4">
            <input formControlName="toAge" class="form-control" type="number" />
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="gender">Gender</label>
        <select class="form-control" formControlName="gender">
          <option value="" selected>---Select Gender---</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="caste">Caste</label>
        <input
          formControlName="caste"
          class="form-control"
          placeholder="Enter Caste"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="occupation">Occupation</label>
        <input
          formControlName="occupation"
          class="form-control"
          placeholder="Enter Occupation"
        />
      </div>
      <div></div>
    </div>
    <div class="row">
      <div class="form-group col-md-3"> 
        <label>Select Constituency</label>
        <select
          class="form-control"
         formControlName = "constituency"
        >
          <option value ='' selected>---Select Constituency---</option>
          <option *ngFor="let title of constituencies" [value]="title">
            {{ title }}
          </option>
        </select>      
      </div>
      <div class="form-group col-md-3"> 
        <label for="village">Village</label>
        <input formControlName="village" class="form-control" placeholder="Enter Village" type="text">
      </div>
      <div class="form-group col-md-3"> 
        <label for="polliticalParty">Pollitical Party</label>
              <select class="form-control" formControlName="polliticalParty" >
                <option value="" selected>---Select Pollitical Party---</option>
                <option value="BJP">Bharatiya Janata Party (BJP)</option>
                <option value="SS">Shiv Sena</option>
                <option value="NCP">Nationalist Congress Party (NCP)</option>
                <option value="INC">Indian National Congress (INC)</option>
                <option value="SP">Samajwadi Party (SP)</option>
                <option value="MNS">Maharashtra Navnirman Sena (MNS)</option>
                <option value="PWP">Peasants and Workers Party of India</option>
                <option value="CPI">Communist Party of India (CPI)</option>
                <option value="MIM">All India Majlis-e-Ittehadul Muslimeen</option>
                <option value="CP">Communist Party of India (Marxist)</option>
                <option value="RPI">Republican Party of India</option>
                <option value="AAP">Aam Adami Party</option>
              </select>  

      </div>

      <div class="col-md-3">
        <label for="pollitical">Pollitically Active</label>
        <select class="form-control" formControlName = "pollitical">
          <option selected value="">---Select Option---</option>
          <option value="YES">Yes</option>
          <option value="NO">No</option>
        </select>
      </div>
    </div>
    
      
    <br>
    <div class="row form-group">
      <div class="col-sm-11">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      <div class="col-sm-1">
        <button type="reset" class="btn btn-danger" (click)="clearTable()">Clear</button>
      </div>
      
    </div>
  </form>
</div>

<div class="table table-striped table-bordered " >
  <table mat-table [dataSource]="dataSource"  *ngIf="this.showTable">

    <!-- Position Column-->
    <ng-container matColumnDef="uuid">
      <th mat-header-cell *matHeaderCellDef> UUID </th>
      <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fname+" " +element.mname+" "+element.lname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="caste">
      <th mat-header-cell *matHeaderCellDef> Caste </th>
      <td mat-cell *matCellDef="let element"> {{element.caste}} </td>
    </ng-container>

    <ng-container matColumnDef="occupation">
      <th mat-header-cell *matHeaderCellDef> Occupation </th>
      <td mat-cell *matCellDef="let element"> {{element.occupation}} </td>
    </ng-container>

    <ng-container matColumnDef="constituency">
      <th mat-header-cell *matHeaderCellDef> Constituency </th>
      <td mat-cell *matCellDef="let element"> {{element.constituency}} </td>
    </ng-container>

    <ng-container matColumnDef="village">
      <th mat-header-cell *matHeaderCellDef> Village </th>
      <td mat-cell *matCellDef="let element"> {{element.village}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="pollitical">
      <th mat-header-cell *matHeaderCellDef> Pollitical </th>
      <td mat-cell *matCellDef="let element"> {{element.pollitical}} </td>
    </ng-container>

    <ng-container matColumnDef="party">
      <th mat-header-cell *matHeaderCellDef> Party </th>
      <td mat-cell *matCellDef="let element"> {{element.party}} </td>
    </ng-container>

    <ng-container matColumnDef="electionPrefrences">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Election Prefrence </th>
      <td mat-cell *matCellDef="let element"> {{element.election1+"    "+element.election2+"    "+element.election3+"    "+element.election4+"    "+element.election5}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[25]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
